h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(18, 43, 20);
  text-align: center;
}

.main{
  color: red;
  margin-left: 450px;
  
}

